:root {
  /* COLORS */
  --hot-pink: #FFAAD4;
  --lavendar: #D8D8FF;

  /* FONT SIZES */

}

* {
  font-family: 'Inria Sans';
  margin: 0;
  padding: 0;
}

.page-content {
  margin: 15px;
  margin-top: 80px;
}

.basic-button {
  background: #F2F9FF;
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  font-size: 25px;
  cursor: pointer;
}

html {
  background: linear-gradient(var(--hot-pink), var(--lavendar));
  min-height: 100%;
}

@media screen and (max-width: 867px) {
  .page-content {
    margin-top: 100px;
  }
}