.search-form {
  display: flex;
  margin-top: 25px;
  margin-bottom: 40px;
}

.search-bar  {
  width: 335px;
  background: #F2F9FF;
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  margin-right: 20px;
  font-size: 25px;
  color: #aeaeae;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results {
  display: grid;
  grid-template-columns: 222px 222px 222px 222px 222px;
  row-gap: 50px;
  align-items: center;
}

.book {
  width: 230;
}

