.page-content.home-content{
  display: flex;
}

.left {
  width: 60%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.profile {
  display: block;
  overflow: hidden;
  box-sizing: border-box;

  width: 260px;
  height: 277.07px;

  background: #C4C4C4;
  border: 3px solid #000000;
  border-radius: 100px;
  text-align: center;
  
}