.pb-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.progress-bar {
  width: 400px;
  height: 60px;
  border-radius: 50px;
  background-color: gray;
  margin-bottom: 10px;
  border: 3px solid black;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 50px;
  background-color: #2ecc71;
  transition: width 0.3s ease-out;
}

.pb-line {
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  padding: 20px 25px 20px 25px;
  background: #D8D8FF;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.progress-label {
  margin-top: 10px;
}

.pb-button {
  color: white;
  background-color: #175a91;
  width: 100px;
}